.animal {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
}
.animal img {
	height: 200px;
	object-fit: contain;
	width: 100%;
}
.animal .animal-details {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 10px 0;
}
.animal .animal-details header {
	font-weight: 700;
}
